* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffee4;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: #D4AF37;
}

.left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.school-logo {
    width: auto;
    height: 65px;
}

.nav-item-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.nav-item a {     
    color: #1a1a1a;
    font-size: 16px;
    text-decoration: none;
}

.nav-item .active {
    font-weight: 600;
    font-size: 19px;
    padding: 0 7px;
}

.right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}

.content-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: max-content;
    align-content: start;
}

.content-header {
    padding-top: 10px;
    padding-left: 5px;
}

.content-title {
    font-size: 23px;
    font-weight: 600;
}