.balance-container {
    grid-column: 1 / 16;
    grid-row: 1;
    background-color: #00C853;
    border: 1px #009e42 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 23px;
}

.balance-display {
    margin: 13px 0;
    margin-left: 5px;
}

form {
    grid-column: 1 / 16;
    grid-row: 2;
    display: block;
    height: fit-content;
}

.search-row {     
    margin: 10px 0; 
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    align-items: center;
}

.student-search-container {
    grid-column: 1 / 13;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
}

.student-search-label {
    margin-right: 5px;
    font-size: 20px;
}

.student-search-input {
    flex-grow: 1;
    outline: 0;
    border: 0.5px #d0d0d0 solid;
    border-radius: 5px;
    padding: 5px 0;
    padding-left: 5px;
    font-size: 18px;
}

.btn-container {
    grid-column: 13 / 16;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
    gap: 15px;
}

.btn {
    flex-grow: 1;
    padding: 8px 0;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    color: #ffffff;
    border: none;
}

.btn-submit {
    background-color: #00C853;
    border: 1px #009e42 solid;
}

.btn-reset {
    background-color: #6c757d;
    border: 1px #53595f solid;
}

.fee-breakdown-container {    
    grid-column: 1 / 16;
    grid-row: 3;
    display: flex;
    flex-direction: column;
}

#fee-table {
    flex-grow: 1;
    border-collapse: collapse;
}

#fee-table, #fee-table td, #fee-table th {
    border: 1px #53595f solid;    
}

#fee-table th {
    padding: 5px 0;
    background-color: #3c8fe3;
    font-size: 18px;
}

#fee-table td {
    text-align: center;
    vertical-align: middle;
    height: 75px;
    font-size: 17px;
}

#fee-table td:nth-child(1),
#fee-table td:nth-child(2)  {
    width: 35%;
}

#fee-table td:nth-child(3) {
    width: 13%;
}

#fee-table td:nth-child(4) {
    width:17%;
}

.full-pay-checkbox {
    width: 20px;
    height: 20px;
}

.partial-amount-input {
    width: 90%; 
    border: none; 
    outline: none; 
    font-size: 16px; 
    text-align: center; 
    padding: 7px;
    border: 1px #adadad solid;
}

.other-payment-container {    
    grid-column: 1 / 16;
    grid-row: 4;
    margin-top: 15px;
}

#other-payments-table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 10px;
}

#other-payments-table th{
    border: 1px #53595f solid; 
    background-color: #3c8fe3; 
    padding: 5px;
}

#other-payments-table th:last-child {
    width: 100px;
}

.payment-btn-container {      
    grid-column: 1 / 16;
    grid-row: 5;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pay-btn {
    width: 500px;
    padding: 10px 0;
    background-color: #00C853;
    border: 1px #009e42 solid;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    color: #ffffff;
}